@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<br />
<br />

<form asp-action="Create">
    <div>
        <label class="col-form-label-lg" asp-for="Code"></label>
        <input class="col-form-label-lg" asp-for="Code"/>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label-lg" asp-for="Name"></label>
        <input class="col-form-label-lg" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label-lg" asp-for="DateOFCreation"></label>
        <input class="col-form-label-lg" asp-for="DateOFCreation" />
        <span asp-validation-for="DateOFCreation" class="text-danger"></span>
    </div>
    <input type="Submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" asp-controller="Department" class="btn btn-light"> Back To List</a>
</form>
